<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digiwin.bpm.inte.mapper.FolderMapper">
  <resultMap id="BaseResultMap" type="com.digiwin.bpm.inte.model.Folder">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PARENT" jdbcType="DECIMAL" property="parent" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="IS_EXTENDED" jdbcType="DECIMAL" property="isExtended" />
    <result column="IS_ADD_BY_PROCESS" jdbcType="DECIMAL" property="isAddByProcess" />
    <result column="IS_UPDATE_BY_PROCESS" jdbcType="DECIMAL" property="isUpdateByProcess" />
    <result column="IS_INVALID_BY_PROCESS" jdbcType="DECIMAL" property="isInvalidByProcess" />
    <result column="SNRULEDEF" jdbcType="CHAR" property="snruledef" />
    <result column="VERSIONDEF" jdbcType="CHAR" property="versiondef" />
    <result column="PARAMETER" jdbcType="CHAR" property="parameter" />
    <result column="VALID" jdbcType="DECIMAL" property="valid" /> 
  </resultMap>
  <!--<resultMap id="FolderDocumentResultMap" type="com.digiwin.bpm.inte.dto.FolderDocument">
  	<id column="OID" jdbcType="CHAR" property="oid" />
  	<id column="FOLDER" jdbcType="CHAR" property="folder" />
  </resultMap>-->
  <cache/>
  <sql id="Base_Column_List">
    OID, ID, NAME, DESCRIPTION, PARENT, CREATOR, CREATEDATE, IS_EXTENDED, IS_ADD_BY_PROCESS, 
    IS_UPDATE_BY_PROCESS, IS_INVALID_BY_PROCESS, SNRULEDEF, VERSIONDEF, PARAMETER
  </sql>
  <!--精简查询字段-->
  <sql id="Simple_Column_List">
    OID, ID, NAME, PARENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MYDMS_FOLDER
    where OID = #{oid,jdbcType=CHAR} 
    and VALID = 1 
  </select>
  <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from MYDMS_FOLDER
    where ID = #{id,jdbcType=DECIMAL}
    and VALID = 1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update MYDMS_FOLDER set VALID = 0 
    where OID = #{oid,jdbcType=CHAR} 
  </update>
  <insert id="insert" parameterType="com.digiwin.bpm.inte.model.Folder" >
    insert into MYDMS_FOLDER (OID, ID, NAME, DESCRIPTION, 
      PARENT, CREATOR, CREATEDATE, 
      IS_EXTENDED, IS_ADD_BY_PROCESS, IS_UPDATE_BY_PROCESS, 
      IS_INVALID_BY_PROCESS, SNRULEDEF, VERSIONDEF, 
      PARAMETER,VALID)
    values (#{oid,jdbcType=CHAR}, #{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parent,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP},
      #{isExtended,jdbcType=DECIMAL}, #{isAddByProcess,jdbcType=DECIMAL}, #{isUpdateByProcess,jdbcType=DECIMAL}, 
      #{isInvalidByProcess,jdbcType=DECIMAL}, #{snruledef,jdbcType=CHAR}, #{versiondef,jdbcType=CHAR}, 
      #{parameter,jdbcType=CHAR},#{valid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.digiwin.bpm.inte.model.Folder">
    insert into MYDMS_FOLDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="parent != null">
        PARENT,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="isExtended != null">
        IS_EXTENDED,
      </if>
      <if test="isAddByProcess != null">
        IS_ADD_BY_PROCESS,
      </if>
      <if test="isUpdateByProcess != null">
        IS_UPDATE_BY_PROCESS,
      </if>
      <if test="isInvalidByProcess != null">
        IS_INVALID_BY_PROCESS,
      </if>
      <if test="snruledef != null">
        SNRULEDEF,
      </if>
      <if test="versiondef != null">
        VERSIONDEF,
      </if>
      <if test="parameter != null">
        PARAMETER,
      </if>
      <if test="valid != null">
        VALID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isExtended != null">
        #{isExtended,jdbcType=DECIMAL},
      </if>
      <if test="isAddByProcess != null">
        #{isAddByProcess,jdbcType=DECIMAL},
      </if>
      <if test="isUpdateByProcess != null">
        #{isUpdateByProcess,jdbcType=DECIMAL},
      </if>
      <if test="isInvalidByProcess != null">
        #{isInvalidByProcess,jdbcType=DECIMAL},
      </if>
      <if test="snruledef != null">
        #{snruledef,jdbcType=CHAR},
      </if>
      <if test="versiondef != null">
        #{versiondef,jdbcType=CHAR},
      </if>
      <if test="parameter != null">
        #{parameter,jdbcType=CHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digiwin.bpm.inte.model.Folder">
    update MYDMS_FOLDER
    <set>
      <if test="id != null">
        ID = #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        PARENT = #{parent,jdbcType=DECIMAL},
      </if>
      <!-- <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
       <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>  -->
      <if test="isExtended != null">
        IS_EXTENDED = #{isExtended,jdbcType=DECIMAL},
      </if>
      <if test="isAddByProcess != null">
        IS_ADD_BY_PROCESS = #{isAddByProcess,jdbcType=DECIMAL},
      </if>
      <if test="isUpdateByProcess != null">
        IS_UPDATE_BY_PROCESS = #{isUpdateByProcess,jdbcType=DECIMAL},
      </if>
      <if test="isInvalidByProcess != null">
        IS_INVALID_BY_PROCESS = #{isInvalidByProcess,jdbcType=DECIMAL},
      </if>
      <if test="snruledef != null">
        SNRULEDEF = #{snruledef,jdbcType=CHAR},
      </if>
      <if test="versiondef != null">
        VERSIONDEF = #{versiondef,jdbcType=CHAR},
      </if>
      <if test="parameter != null">
        PARAMETER = #{parameter,jdbcType=CHAR},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR} 
    and VALID = 1 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digiwin.bpm.inte.model.Folder">
    update MYDMS_FOLDER
    set ID = #{id,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PARENT = #{parent,jdbcType=DECIMAL},
<!--       CREATOR = #{creator,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},  -->
      IS_EXTENDED = #{isExtended,jdbcType=DECIMAL},
      IS_ADD_BY_PROCESS = #{isAddByProcess,jdbcType=DECIMAL},
      IS_UPDATE_BY_PROCESS = #{isUpdateByProcess,jdbcType=DECIMAL},
      IS_INVALID_BY_PROCESS = #{isInvalidByProcess,jdbcType=DECIMAL},
      SNRULEDEF = #{snruledef,jdbcType=CHAR},
      VERSIONDEF = #{versiondef,jdbcType=CHAR},
      PARAMETER = #{parameter,jdbcType=CHAR}
      where OID = #{oid,jdbcType=CHAR} 
      and VALID = 1 
  </update>

  <select id="selectFoldersBySubjects" resultMap="BaseResultMap">
    SELECT
    DISTINCT
    MYDMS_FOLDER.OID,
    MYDMS_FOLDER.ID,
    MYDMS_FOLDER.NAME,
    MYDMS_FOLDER.DESCRIPTION,
    MYDMS_FOLDER.PARENT,
    MYDMS_FOLDER.CREATOR,
    MYDMS_FOLDER.CREATEDATE,
    MYDMS_FOLDER.IS_EXTENDED,
    MYDMS_FOLDER.IS_ADD_BY_PROCESS,
    MYDMS_FOLDER.IS_UPDATE_BY_PROCESS,
    MYDMS_FOLDER.IS_INVALID_BY_PROCESS,
    MYDMS_FOLDER.SNRULEDEF,
    MYDMS_FOLDER.VERSIONDEF,
    MYDMS_FOLDER.PARAMETER
    FROM MYDMS_FOLDER
      LEFT JOIN MYDMS_ROLE_FOLDER ON MYDMS_FOLDER.OID = MYDMS_ROLE_FOLDER.FOLDER
      LEFT JOIN MYDMS_ROLE_PERMISSION ON MYDMS_ROLE_FOLDER.ROLE = MYDMS_ROLE_PERMISSION.ROLE
      LEFT JOIN MYDMS_PERMISSION ON MYDMS_PERMISSION.OID = MYDMS_ROLE_PERMISSION.PERMISSION
      LEFT JOIN MYDMS_USERS_ROLE ON MYDMS_USERS_ROLE.ROLE = MYDMS_ROLE_FOLDER.ROLE
    WHERE VALID = 1 AND 
    MYDMS_USERS_ROLE.USERS IN
    <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
  </select>

  <select id="selectAllFolders" resultMap="BaseResultMap">
    SELECT
    <include refid="Simple_Column_List" />
    FROM MYDMS_FOLDER 
    where VALID = 1 
  </select>

  <select id="selectAllParentFolders" resultMap="BaseResultMap">
    SELECT
    <include refid="Simple_Column_List" />
    FROM MYDMS_FOLDER
    where VALID = 1
    AND PARENT IS NULL
  </select>
  <!-- 用于查询继承父文件夹目录的权限 -->
  <select id="selectFolderByParent" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM MYDMS_FOLDER 
    where ID = #{parent,jdbcType=DECIMAL} 
    AND VALID = 1 
  </select>
  <!-- 用于判断文件夹下是否存在子文件夹 （子文件夹VALID = 1） -->
  <select id="selectChildFolders" resultMap="BaseResultMap">
    SELECT
    <include refid="Simple_Column_List" />
    FROM MYDMS_FOLDER
    where PARENT = (
      select ID from MYDMS_FOLDER where OID = #{oid,jdbcType=CHAR}
    )
    AND VALID = 1
  </select>
  <!-- 用于判断文件夹下是否存在子文件 -->
  <!--<select id="selectFolderDocument" parameterType="java.lang.String" resultMap="FolderDocumentResultMap">
  	select 
  	MYDMS_FOLDER.OID,MYDMS_DOCUMENT.FOLDER 
  	from MYDMS_FOLDER
  	RIGHT JOIN 
  	MYDMS_DOCUMENT 
  	ON MYDMS_FOLDER.OID = MYDMS_DOCUMENT.FOLDER 
  	where MYDMS_FOLDER.OID = #{oid,jdbcType=CHAR} 
  	AND MYDMS_FOLDER.VALID = 1 
  </select>-->
</mapper>
